<!doctype html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="description" content="Ashim KC | Official Site">
	<meta name="keywords" content="Nepali Singer, Ashim KC, Official site of Ashim Kc, KC Ashim ">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Aashiz Poudel">
	<meta name="google-site-verification" content="_AtWwI2mXA8Epp1TUfarZAGvFTbudxR21q_ZCmqM1nw" />
	<!-- SITE TITLE -->
	<title>Ashim KC - Nepali Singer : Official Site</title>
	<!-- Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="images/thumbnail.jpg">
	<!-- STYLESHEETS -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/component.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>	
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">

			<script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="0">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!---------------------------------End preloader--------------------------------->
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
		              <a class="navbar-brand" href="#"><span class='text-danger'>Ashim</span> <span class='text-primary'>KC</span></a>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav mr-auto menu2">
							<li class="nav-item">
								<a class="nav-link active" data-scroll href="#intro2">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-scroll href="#music">Music</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-scroll href="#videos">Videos</a>
							</li>
							
						</ul>
					</div>
					<a class="btn hire2" target="_blank" href="https://m.me/Kcashim">Message Me<i class="fas fa-paper-plane"></i></a>
		        </nav>
		    </div> 
		</div>	
	</div>
</header>
<!---------------------------------End header--------------------------------->
<div id="intro2">
    <div id="cbp-fwslider2" class="cbp-fwslider">
		<ul>
			<li><a href="#"><img src="images/carousel/img1.PNG" alt="img01"/></a></li>
			<li><a href="#"><img src="images/carousel/img2.PNG" alt="img02"/></a></li>
        </ul>
    </div>
	<div class="container">
        <div class="row">
			<div class="col-md-8 text2 wow zoomIn" data-wow-duration="3s">
				<h3>Hello I’m</h3><h1>Ashim KC</h1>
                <h4>Singer<span></span>I<span></span>Composer<span></span>I<span></span>Lyrics Writer</h4>	
				<ul class="social-icon2 list-unstyled">
					<li>
						<a class="facebook" target="_blank" href="https://www.facebook.com/ashimkcofficial"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li>
						<a class="instagram" target="_blank" href="https://www.instagram.com/ashimkcofficial"><i class="fab fa-instagram"></i></a>
					</li>
					<li>
						<a class="twitter" target="_blank" href="https://www.twitter.com/ashimkcofficial"><i class="fab fa-twitter"></i></a>
					</li>
					<li>
						<a class="youtube" target="_blank" href="https://www.youtube.com/ashimkcofficial"><i class="fab fa-youtube"></i></a>
					</li>
                    <li>
						<a class="itunes" target="_blank" href="https://www.facebook.com/ashimkcofficial"><i class="fab fa-itunes"></i></a>
					</li>
					<li>
						<a class="spotify" target="_blank" href="https://www.facebook.com/ashimkcofficial"><i class="fab fa-spotify"></i></a>
					</li>
                  
			    </ul>
			</div>
        </div>
    </div>
</div>
<!---------------------------------End intro--------------------------------->
<div id="about2">
	<div class="container">
		<div class="row">
			<div class="col-md-5 offset-md-1 stat wow slideInRight" data-wow-duration="3s">
				<div class="row">
					<div class="col-md-6 sub">
					    <div class="facts-counter">
						<span class="counter">100</span>
						</div>
						<h2>FREE TEXT</h2>
					</div>
                    <div class="col-md-6 sub">
					    <div class="facts-counter">
						<span class="counter">100</span>
						</div>
						<h2>FREE TEXT</h2>
					</div>					
			    </div>
				<div class="row">
					<div class="col-md-6 sub1">
					    <div class="facts-counter">
						<span class="counter">100</span>
						</div>
						<h2>FREE TEXT</h2>
					</div>
                    <div class="col-md-6 sub1">
					    <div class="facts-counter">
						<span class="counter">100</span>
						</div>
						<h2>FREE TEXT</h2>
					</div>					
			    </div>
            </div>
		    <div class="col-md-5 para wow slideInLeft" data-wow-duration="3s">
				<h5>about</h5>
				<h2>A few words<br>about Ashim KC</h2>
				<p>  Ashim KC is a well-known Nepali RnB/Pop Singer, Composer as well as Song-Writer hailing from town of Bardaghat.
He has written and composed songs like "Saathi Veteu" and "Dekhawati Maya". Both of the songs are decorated by his own voice and have gained significant popularity all over Nepal.
Additionally, He has also sung songs like "Sakdina" and "Aadha Raat". His works like "I am Sorry", "Timrai Mayama", "Ukali Orali", "Aayenau", "Timro Samjhana" and more which are sheduled to be released in 2016.
You can find him at different social networks.</p>	  
<!--				<a class="btn" href=""><i class="fas fa-eye"></i>My videos</a>-->
		    </div>
        </div>
    </div>
</div>
<!---------------------------------End about2------------------------------------>
<section id="music">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
			    <h5>Music</h5>
				<h2>What i do!</h2>
            </div>
        </div>
		<div class="row serve justify-content-center" id='albums'>
            				<album v-for="(album,index) in albums" :album="album" :key="album.key"/>

			<div class="col-md-3 musics">
				<a href=""><img src="images/SAKDINA.JPG" alt=""/></a>
				<h6>SAKDINA</h6>
                <p><a href='#'  target='_blank'><img src='images/apple.PNG' class='img-responsive' style='width:120px'/></a></p>
			</div>
			<div class="col-md-3 musics">
				<a href=""><img src="images/JANU.JPG" alt=""/></a>
				<h6>JANU</h6>
                <p><a href='#' target='_blank'><img src='images/apple.PNG' class='img-responsive' style='width:120px'/></a></p>
			</div>
			<div class="col-md-3 musics">
                
				<a href=""><img src="images/HEYBABY.JPG" alt=""/></a>
				<h6>HEY BABY</h6>
                <p><a href='#' target='_blank'><img src='images/apple.PNG' class='img-responsive' style='width:120px'/></a></p>
			</div>
			<div class="col-md-3 musics">
				<a href=""><img src="images/HEYBABY.JPG" alt=""/></a>
				<h6>I'M SORRY</h6>
                <p><a href='#' target='_blank'><img src='images/apple.PNG' class='img-responsive' style='width:120px'/></a></p>
			</div>
        </div>
	</div>
</section>
<section id="videos">
	<div class="container">
	    <div class="row">
            <div class="col-md-12">
			    <h5>videos</h5>
				<h2>Latest Releases</h2>
            </div>
        </div>
		<div class="row">
			<div class="videos-wrapper col-md-12">
			    <div class="filter-buttons">
					
				</div>
			</div>
		</div>

		<div class="gri" id='myapp'>
				<p v-if='videos.length===0' class='alert-warning text-center'>No videos right now</p>
			<div class="row mt-3 pt-2">

		
				<custom v-for="(video,index) in videos" :video="video" :key="video.key"/>

				
        </div>
        	
    </div>
     <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD-Hdib7m1PjihntLLvixyMVBus5nxnD6U",
    authDomain: "tung-4b952.firebaseapp.com",
    databaseURL: "https://tung-4b952.firebaseio.com",
    projectId: "tung-4b952",
    storageBucket: "tung-4b952.appspot.com",
    messagingSenderId: "1008568347863"
  };
  firebase.initializeApp(config);
  var db = firebase.database();
       

 			Vue.component("custom",{
 				props:['video'],
 				template:function(){/*
					<div class="col-md-4 grid-item">
  					<div>
					<div class="single-videos-item">
					    <a href=""><img class='responsive img-fluid img-responsive' :src="'https://img.youtube.com/vi/'+video.id+'/hqdefault.jpg'"
               			alt=""></a>
					</div>
          			<div class="search">
					    <a :href="'https://youtube.com/watch/?v='+video.id" target="_blank" class=""><i class="fas fa-play"></i></a>
					</div>					
					<div class="description d-flex">
					    <p>{{video.title}}<br></p>
					</div>
				</div>
  				</div>
 				*/}.toString(),
 			});
    
    Vue.component("album",{
 				props:['album'],
 				template:function(){/*
					<div class="col-md-3 musics">
				<a href=""><img src="images/SAKDINA.JPG" alt=""/></a>
				<h6>{{album.title}}</h6>
                <p><a :href="album.albumLink"><img src='/images/apple.PNG' class='img-responsive' style='width:120px'/></a></p>
			</div>
 				*/}.toString(),
 			});

			var app = new Vue({
  			el: '#myapp', /* NOT e1 */
  			data: {
  				loading:true,
    			message: 'Hello Vue!',
    			videos:[],
  			},
  			mounted: function () {
  				
    				 db.ref('videos').on('child_added',function(snap){
    				 	var val = snap.val();
    				 	val['key']=snap.key ;
    				 	app.videos.push(val);
    				 });
    				 db.ref('videos').on('child_removed',function(snap){
  						app.videos = app.videos.filter(function(e){
  							return e.key != snap.key ;
  						});
  					});
   					 this.loading = false;
  		
  					
				},

			});
    
    var albums = new Vue({
  			el: '#albums', /* NOT e1 */
  			data: {
  				loading:true,
    			message: 'Hello Vue!',
    			albums:[],
  			},
  			mounted: function () {
  				
    				 db.ref('albums').on('child_added',function(snap){
    				 	var val = snap.val();
    				 	val['key']=snap.key ;
    				 	albums.albums.push(val);
    				 });
    				 db.ref('albums').on('child_removed',function(snap){
  						albums.albums = albums.albums.filter(function(e){
  							return e.key != snap.key ;
  						});
  					});
   					 this.loading = false;
  		
  					
				},

			});
        </script>
</section>



<div id="footer"  class='bg-dark'>
	<div class="container">
		<div class="row">
			<div class="col-md-4 rights text-left wow fadeInRight" data-wow-offset="10" data-wow-duration="3s">
					<h4 class='text-white'>© 2018 <span class='text-lowercase'>ashimkc.com.np</span></h4>
				</div>
				<div class="col-md-4 wow fadeInUp" data-wow-offset="10" data-wow-duration="3s">
					<a  href="index.html"><strong><span class='text-danger'>Ashim</span> <span class='text-primary'>KC</span></strong></a>
				</div>
				<div class="col-md-4 credit text-right wow fadeInLeft" data-wow-offset="10" data-wow-duration="3s">
					<h4 class='text-white'>Made by <span>Aashiz Poudel</span></h4>
				</div>
        </div>
    </div>
</div>
<!--------------------------------End footer------------------------------------>
<!--JavaScript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
	<script src="js/modernizr.custom.js"></script>
	<script src="js/jquery.cbpFWSlider.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/isotope.pkgd.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/imageloaded.pkgd.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/rotate.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/typed.min.js"></script>
    <script src="js/smooth-scroll.js" ></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/custom.js"></script>
</body>	
</html>